version: '3.8'

services:

  docs:
    image: kobucom/pandoc:local1
    ports:
      -  "8081:8081"

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: put password here
      MYSQL_DATABASE: joomladb
      MYSQL_USER: joomlauser
      MYSQL_PASSWORD: put the password here
    volumes:
      -  db_data:/var/lib/mysql

  joomla:
    image: joomla
    ports:
      - "8090:80"
    environment:
      JOOMLA_DB_HOST: db
      JOOMLA_DB_USER: joomlauser
      JOOMLA_DB_PASSWORD: Put password here
      JOOMLA_DB_NAME: joomladb
    depends_on:
      - db

volumes:
  db_data: 

  